body {
    margin: 0;
    padding: 0;
}
.italiana-regular {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
      }      

h1 {
        font-family: Italiana, sans-serif;
    }    

nav {
        font-family: Italiana, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: black;
    }
    
nav a {
        font-family: Italiana, sans-serif;
        text-decoration: none;
        margin: 0 10px;
    }    

.ballet {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#about h2 {
    font-family: Ballet, cursive;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

  p {
    font-family: Cormorant Garamond, sans-serif;
}
