body {
    margin: 0;
    padding: 0;
}
.italiana-regular {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
      }      

h1 {
        font-family: Italiana, sans-serif;
    }    

nav {
        font-family: Italiana, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: tan;
    }
    
nav a {
        font-family: Italiana, sans-serif;
        text-decoration: none;
        margin: 0 10px;
        color: black;
    }    

.ballet {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#about h2 {
    font-family: "Ballet", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 25px;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

  p {
    font-family: Cormorant Garamond, sans-serif;
}

.rounded-image {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.container img rounded-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#about {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

nav a[href="resume.pdf"] {
    background-color: rgba(240, 128, 128, 0.646);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}